*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Roboto,Arial,sans-serif;
}

body{
background:#f1f3f6;
}


.top-header{
background:#2874f0;
display:flex;
align-items:center;
gap:20px;
padding:12px 20px;
color:white;
}

.logo{
font-size:22px;
font-weight:bold;
}

.search{
flex:1;
}

.search input{
width:100%;
padding:10px;
border:none;
outline:none;
border-radius:2px;
}

.header-actions{
display:flex;
gap:15px;
align-items:center;
}

.login{
background:white;
color:#2874f0;
padding:8px 20px;
font-weight:600;
border-radius:2px;
}

.action{
font-size:14px;
cursor:pointer;
}


.categories{
background:white;
display:flex;
justify-content:space-around;
padding:10px 0;
font-weight:500;
}
.banner{
margin:15px;
height:260px;
background:url("https://rukminim1.flixcart.com/flap/3376/560/image/3c6b47b85d6c1f92.jpg")
center/cover no-repeat;
}
.section{
margin:15px;
background:white;
padding:20px;
}

.section h2{
margin-bottom:15px;
}


.deal-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.deal{
text-align:center;
}

.deal img{
width:100%;
height:150px;
object-fit:contain;
}

.deal span{
color:#388e3c;
font-weight:bold;
}


.product-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.product{
border:1px solid #eee;
padding:15px;
text-align:center;
}

.product img{
width:100%;
height:160px;
object-fit:contain;
}

.product h3{
font-size:15px;
margin:10px 0;
}

.price{
color:#388e3c;
font-weight:bold;
}


footer{
background:#172337;
color:white;
padding:30px;
}

.footer-grid{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
}

.footer-grid h4{
color:#878787;
margin-bottom:10px;
}

.footer-grid p{
font-size:13px;
margin-bottom:6px;
}


@media(max-width:900px){
.product-grid,.deal-grid{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:600px){
.top-header{
flex-direction:column;
}
.categories{
flex-wrap:wrap;
gap:10px;
}
.product-grid,.deal-grid{
grid-template-columns:1fr;
}
}